<p>You have successfully booked for the show </p>
<p>
  <strong>Ticket_id:</strong>
  <%= @detail.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @detail.name %>
</p>
<p>
  <strong>No of seats:</strong>
  <%= @detail.no_of_seats %>
</p>

<p>
  <strong>Show time:</strong>
  <%= @detail.show_time %>
</p>

<p>
  <strong>Theatre name:</strong>
  <%= @detail.confirm_theatre_name %>
</p>

<p>
  <strong>Movie name:</strong>
  <%= @detail.confirm_movie_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @detail.price %>
</p>
  <%= link_to "cancel_ticket", new_cancellation_url %>
