

<p>
  <strong>Name:</strong>
  <%= @detail.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @detail.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @detail.phone %>
</p>

<p>
  <strong>No of seats:</strong>
  <%= @detail.no_of_seats %>
</p>

<p>
  <strong>Show time:</strong>
  <%= @detail.show_time %>
</p>

<p>
  <strong>Movies_theatre_id:</strong>
  <%= @detail.moviestheatre_id %>
</p>

<p>
  <strong>Confirm theatre name:</strong>
  <%= @detail.confirm_theatre_name %>
</p>

<p>
  <strong>Confirm movie name:</strong>
  <%= @detail.confirm_movie_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @detail.price %>
</p>


